<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>Disabled</key>
  <false/>
  <key>Label</key>
  <string>org.afraid.dyndns</string>
  <key>ProgramArguments</key>
  <array>
   <string>/usr/local/bin/node</string>
   <string>dyndns.js</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>/Users/andrew/Library/Application Support/DynDns/error.txt</string>
  <key>StandardOutPath</key>
  <string>/Users/andrew/Library/Application Support/DynDns/log.txt</string>
  <key>StartCalendarInterval</key>
  <dict>
   <key>Minute</key>
   <integer>25</integer>
  </dict>
  <key>StartInterval</key>
  <integer>1800</integer>
  <key>WorkingDirectory</key>
  <string>/usr/local/src/node-dyndns</string>
 </dict>
</plist>
